{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam, expedita. Nemo exercitationem, quos dolores numquam laudantium cum amet eum cupiditate quia quis, eos ratione laborum consequuntur consequatur labore eligendi quae eius earum, ut alias aliquam. Omnis maxime autem nisi culpa quidem veniam. Ea ipsa dolorem est eaque nam dolore perferendis magnam nesciunt error quibusdam! Quo odit laudantium placeat, veritatis nulla necessitatibus modi ullam dolorum distinctio. Tempora non minus voluptatem nostrum cupiditate. Placeat accusamus at laudantium maiores vel sequi sit corporis, molestiae tenetur commodi cupiditate expedita minus, impedit nobis officia culpa soluta quibusdam. Commodi officiis magnam perferendis veritatis atque quasi enim!ALEJA ME LA PELA CON CANELA</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}